# Timezone — used for correct timestamps in logs
# Find yours at: https://en.wikipedia.org/wiki/List_of_tz_database_time_zones
TZ=<timezone>
SERVER_IP=<server_ip>
# Path where AdGuard stores its config and working files
# This will be created automatically if it doesn't exist
CONFIG_PATH=<config_path>
